@charset "utf-8";
/**
 * @author		Firstname Lastname
 * @copyright	http://www.divio.ch
 */

/*##################################################|*/
/* #GLOBAL# */
*,body{ background:#fff; }
body{ color:#000; font:13px Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif; }

/*##################################################|*/
/* #PRINT# */
.print { display:block; position:static; left:0; }
.noprint { display:none !important; }

/* Create Pagebreak */
.pb-after  { page-break-after:always; /* always | avoid */ }
.pb-before { page-break-before:always; /* always | avoid */ }

/* Show Link Target */
/*a:after, a:link:after,
a:visited:after { content: " * Link: " attr(href) "* "; }*/
p a:after { content:" ("attr(href)") "; }