{% extends "base.html" %}
{% load i18n cms_tags menu_tags %}
{% block tpl_id %}tpl_home{% endblock %}

{% block extend_base %}
<!-- start: header -->
<div id="header" class="container_24 clearfix">
  {% include "inc/header.html" %}
</div>
<!-- end: header -->
<!-- start: content -->
{% block content %}
<div id="main" class="container_24 clearfix">
  <div id="showcase-wrapper" class="grid_12 omega">
    <div id="showcase">
      {% with "470" as width%}
        {% placeholder top %}
      {% endwith %}
    </div>
  </div>
  <div id="case-studies" class="grid_12 alpha">
    {% with "190" as width%}
      {% placeholder right %}
    {% endwith %}
  </div>
</div>
<div id="audiences" class="container_24 clearfix">
  <div id="business-managers" class="grid_8">
    <h2>Managers</h2>
    <div id="managers-summary">
    {% with "190" as width%}
      {% placeholder left %}
    {% endwith %}
    </div>
    <p id="managers-link">
      <a href="/en/managers/">Decide &raquo;</a>
    </p>
  </div>
  <div id="designers-creatives" class="grid_8">
    <h2>Designers</h2>
    <div id="designers-summary">
    {% with "190" as width%}
      {% placeholder center_left %}
    {% endwith %}
    </div>
    <p id="designers-link">
      <a href="/en/designers/">Imagine &raquo;</a>
    </p>
  </div>
  <div id="developers" class="grid_8">
    <h2>Developers</h2>
    <div id="developers-summary">
    {% with "190" as width%}
      {% placeholder center_right %}
    {% endwith %}
    </div>
    <p id="developers-link">
      <a href="/en/developers/">Hack &raquo;</a>
    </p>
  </div>
</div>
<div id="who-is-using" class="container_24 clearfix">
  <div class="grid_24">
    <h3>who's using <span class="django-green">Django</span></h3>
    {% with "950" as width%}
      {% placeholder bottom %}
    {% endwith %}
  </div>
</div>
<div class="container_24 clearfix">
  <div id="more" class="grid_24 clearfix">
    <h4>More about Django</h4>
    <div class="grid_4 prefix_1">
      <a href="#">Developers</a><br/>
      <a href="#">Find an Expert</a><br/>
      <a href="#">Jobs</a>
    </div>
    <div class="grid_4 prefix_1">
      <a href="#">Books</a><br/>
      <a href="#">Conferences</a><br/>
      <a href="#">Classes and Training</a>
    </div>
    <div class="grid_4 prefix_1">
      <a href="#">Django Software Foundation</a><br/>
      <a href="#">Python Software Foundation</a>
    </div>
    <div class="grid_7 prefix_1">
      <h3><a href="#">Get started with Django &raquo;</a></h3>
    </div>
  </div>
</div>
{% endblock %}
<!-- end: content -->
<!-- start: footer -->
<div class="container_24 clearfix">
  <div id="footer" class="grid_24">
  {% include "inc/footer.html" %}
  </div>
</div>
<!-- end: footer -->
{% endblock %}
