<table class="table_normal">
  <thead>
    <tr>
      <th>Header 1</th>
      <th>Header 1</th>
      <th>Header 1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Header 2</th>
      <th>Header 2</th>
      <th>Header 2</th>
    </tr>
    <tr>
      <td><strong>Label</strong></td>
      <td>text</td>
      <td>text</td>
    </tr>
    <tr>
      <td><strong>Label</strong></td>
      <td>text</td>
      <td>text</td>
    </tr>
    <tr>
      <td><strong>Label</strong></td>
      <td>text</td>
      <td>text</td>
    </tr>
    <tr>
      <td><strong>Label</strong></td>
      <td>text</td>
      <td>text</td>
    </tr>
    <tr>
      <td><strong>Label</strong></td>
      <td>text</td>
      <td>text</td>
    </tr>
  </tbody>
</table><p class="table_legend">* Legende</p>