{% load i18n %}
{% if is_paginated %}
<div class="paginator">
	<ul class="pagenav clearfix">
		{% if has_previous %}<li class="back"><a href="?{% if query_string %}{{ query_string}}&amp;{% endif %}page={{ previous }}">{% trans '&laquo; Previous' %}</a></li>{% endif %}
		{% for p in paginator.page_range %}
			{% ifnotequal p page_obj.number %}<li><a href="?{% if query_string %}{{ query_string}}&amp;{% endif %}page={{ p }}">{{ p }}</a></li>
			{% else %}<li class="active"><span>{{ p }}</span></li>
			{% endifnotequal %}
			{% if forloop.last and forloop.counter > 5 %}<li>...</li>{% endif %}
		{% endfor %}
		{% if has_next %}<li class="next"><a href="?{% if query_string %}{{ query_string}}&amp;{% endif %}page={{ next }}">{% trans 'Next &raquo;' %}</a></li>{% endif %}
	</ul>
</div>
{% endif %}