{% load i18n cms_tags menu_tags %}
<div class="grid_24 alpha omega">
  <h1 class="logo_main"><a href="/" class="offset noprint pngfix">Why Django</a><img src="{{ MEDIA_URL }}img/logo_main.png" class="print" alt="Why Django" /></h1>

  <!-- start: wai -->
  <hr class="hidden" />
  <h2 class="hidden">{% trans "Shortcuts:" %}</h2>
  <ul class="hidden">
  	<li><a href="/" title="[Alt + 0]" accesskey="0">{% trans "Go to home" %}</a></li>
  	<li><a href="#navigation" title="[Alt + 1]" accesskey="1">{% trans "Jump to navigation" %}</a></li>
  	<li><a href="#content" title="[Alt + 2]" accesskey="2">{% trans "Jump to content" %}</a></li>
  	<li><a href="#footer" title="[Alt + 3]" accesskey="3">{% trans "Contact" %}</a></li>
  	<li><a href="#sitemap" title="[Alt + 4]" accesskey="4">{% trans "Sitemap" %}</a></li>
  </ul>
  <hr class="hidden" />
  <!-- end: wai -->

  <hr class="hidden" />
</div>